# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Results
results/checkpoints/*
results/logs/*
results/figures/*

# Keep result folders
!results/checkpoints/.gitkeep
!results/logs/.gitkeep
!results/figures/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db